<!doctype html>
<html>
<head>
  <meta charset="UTF-8"/>
  <title>SMS/MMS Conversations</title>
</head>
<body>
<h1>SMS/MMS Conversations</h1>
<ul>
  <% conversation_pages.each do |page| %>
    <li><a href="<%= relative_path(page.output_file_path) %>"><%= page.title %></a></li>
  <% end %>
</ul>
</body>
</html>